<div>
  <br>
    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
              <div class="blocks">
                  <button button="submit" mat-raised-button color="primary">
                      <mat-icon>add</mat-icon> Add ShipNode
                  </button>
              </div>
        </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Ship Nodes</h3>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                  <mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="shipNode">
                    <mat-header-cell *matHeaderCellDef> Ship Node </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.shipNode}} </mat-cell>
                  </ng-container>
                    <ng-container matColumnDef="latitude">
                      <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.latitude}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="longitude">
                      <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.longitude}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <mat-header-cell *matHeaderCellDef></mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <a (click)="deleteShipnode(element.shipNode)"
                            type="button">
                          <mat-icon class="icon">delete</mat-icon>
                        </a> 
                      </mat-cell>
                    </ng-container>   
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div> 
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>