<div>
  <mat-form-field *ngIf="searchByDbOrShipnode == 'distgroup'">
    <mat-select placeholder="Distribution Group ID" [(ngModel)]="avaInquiry.distributionGroupId">
      <mat-option *ngFor="let distgroup of distgroupList" [value]="distgroup.distributionGroupId">
        {{distgroup.distributionGroupId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="searchByDbOrShipnode == 'shipnode'">
      <mat-select placeholder="Ship Node ID" [(ngModel)]="avaInquiry.shipNode">
        <mat-option *ngFor="let shipnode of shipNodeList" [value]="shipnode.shipNode">
          {{shipnode.shipNode}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <!-- <mat-button-toggle-group [(ngModel)]="searchByDgOrShipnode">
    <mat-button-toggle ngdefaultButton value="distgroup">
      Dist. Group
    </mat-button-toggle>
    <mat-button-toggle value="shipnode">
      Ship Node
    </mat-button-toggle>
  </mat-button-toggle-group> -->
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="avaInquiry.segment" placeholder="Segment">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="avaInquiry.segmentType" placeholder="Segment Type">
  </mat-form-field>

  <button type='button'mat-raised-button color="primary" (click)="addInquiryLine()">
    <mat-icon>add</mat-icon> Add Line
  </button>

  <!-- <form [formGroup]="availabilityLineInquiryForm"> -->
  <mat-table #table [dataSource]="avaInquiryLineListSubject">
    <ng-container matColumnDef="itemId">
      <mat-header-cell *matHeaderCellDef> Item ID </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input matInput type="text" [(ngModel)]="element.itemId" placeholder="Item ID"></mat-cell>
    </ng-container>
    <ng-container matColumnDef="unitOfMeasure">
      <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>
      <mat-cell *matCellDef="let element; let lineNum = index">
        <input matInput placeholder="UOM" [matAutocomplete]="uomAutoComp" 
        [(ngModel)]="element.unitOfMeasure" (ngModelChange)="doUomFilter($event)" (blur)='doUomFilter("")'>
        <mat-autocomplete autoActiveFirstOption #uomAutoComp="matAutocomplete">
          <mat-option *ngFor="let option of filteredUomOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="productClass">
      <mat-header-cell *matHeaderCellDef> Prod. Class </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <input matInput placeholder="Product Class" [(ngModel)]="element.productClass" 
        (ngModelChange)="doProductClassFilter($event)" (blur)='doProductClassFilter("")'
          [matAutocomplete]="prodClassAutoComp">
        <mat-autocomplete autoActiveFirstOption #prodClassAutoComp="matAutocomplete">
          <mat-option *ngFor="let option of filteredProdClassOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryMethod">
      <mat-header-cell *matHeaderCellDef> Delivery Method </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <input matInput placeholder="Delivery Method" [(ngModel)]="element.deliveryMethod" 
          (ngModelChange)="doDeliveryMethodFilter($event)" (blur)='doDeliveryMethodFilter("")'
            [matAutocomplete]="deliveryMethodAutoComp">
          <mat-autocomplete autoActiveFirstOption #deliveryMethodAutoComp="matAutocomplete">
            <mat-option *ngFor="let option of filteredDeliveryMethodOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
        <a (click)="deleteInquiryLine(element)" type="button">
          <mat-icon class="icon">delete</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="inquiryLineDisplayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: inquiryLineDisplayColumns"></mat-row>
  </mat-table>
  <!-- </form> -->

  <!-- <mat-form-field>
    <input matInput placeholder="UOM" formControlName="unitOfMeasureToInquire" [matAutocomplete]="uomAutoComp">
    <mat-autocomplete autoActiveFirstOption #uomAutoComp="matAutocomplete">
      <mat-option *ngFor="let option of filteredUomOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Product Class" formControlName="productClassToInquire"
      [matAutocomplete]="prodClassAutoComp">
    <mat-autocomplete autoActiveFirstOption #prodClassAutoComp="matAutocomplete">
      <mat-option *ngFor="let option of filteredProdClassOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Ship Node ID" formControlName="shipNodeToInquire">
      <mat-option *ngFor="let shipnode of getShipnodeList()" [value]="shipnode.shipNode">
        {{shipnode.shipNode}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</div>

