<div>
  <br>
  <div class="container">
    <!-- <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="openAddShipnodeDialog()">
            <mat-icon>add</mat-icon> Do Something
          </button>
        </div>
      </div>
    </div>
    <br> -->
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Supply</h3>
          </mat-card-title>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Supply Inquiry
                  </mat-panel-title>
                  <mat-panel-description>
                    Search Supply for itemId, UOM, Prod.Class, and Shipnode
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="supplyInquiryForm">
                  <div>

                    <mat-form-field>
                      <input matInput placeholder="Item ID" formControlName="itemIdToInquire">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="UOM" formControlName="unitOfMeasureToInquire" [matAutocomplete]="uomAutoComp">
                      <mat-autocomplete autoActiveFirstOption #uomAutoComp="matAutocomplete">
                        <mat-option *ngFor="let option of filteredUomOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Product Class" formControlName="productClassToInquire"
                        [matAutocomplete]="prodClassAutoComp">
                      <mat-autocomplete autoActiveFirstOption #prodClassAutoComp="matAutocomplete">
                        <mat-option *ngFor="let option of filteredProdClassOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field>
                      <!-- <input matInput placeholder="Ship Node" formControlName="shipNodeToInquire"> -->
                      <mat-select placeholder="Ship Node ID" formControlName="shipNodeToInquire">
                        <mat-option *ngFor="let shipnode of getShipnodeList() | async" [value]="shipnode.shipNode">
                          {{shipnode.shipNode}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                  <button type="submit" mat-raised-button color="primary" (click)="querySupply()">
                    <mat-icon>whatshot</mat-icon> Find Supply
                  </button>
                  &nbsp;&nbsp;
                  <button type="button" mat-raised-button color="primary" (click)="addSupplyRow()">
                    <mat-icon>add</mat-icon> Add New Supply
                  </button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="getItemSupplySubject()">
                <ng-container matColumnDef="organizationCode">
                  <mat-header-cell *matHeaderCellDef> Org. Code </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.organizationCode}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="itemId">
                  <mat-header-cell *matHeaderCellDef> Item ID </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.itemId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="unitOfMeasure">
                  <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.unitOfMeasure}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="productClass">
                  <mat-header-cell *matHeaderCellDef> Prod. Class </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.productClass}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="shipNode">
                  <mat-header-cell *matHeaderCellDef> Ship Node </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.shipNode}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef> Supply Type </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-select placeholder="Supply Type" [(ngModel)]="element.type" [disabled]="!element.isNew">
                      <mat-option *ngFor="let supplyTypeOption of SUPPLY_TYPE" [value]="supplyTypeOption">
                        {{supplyTypeOption}}
                      </mat-option>
                    </mat-select>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="shipByDate">
                  <mat-header-cell *matHeaderCellDef> Ship By </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="element.shipByDate"
                      [readonly]="!element.isNew">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <input matInput type="number" placeholder="Quantity" [(ngModel)]="element.quantity">
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="save">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button (click)="saveSupply(element)" type="button" title="Save/Set Quantity">
                      <mat-icon class="icon">save</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button (click)="deleteSupply(element)" type="button" title="Set Quntity to 0">
                      <mat-icon class="icon">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>