<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Availability</h3>
          </mat-card-title>
          <mat-card-content>
            <mat-accordion>
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Availability Inquiry
                  </mat-panel-title>
                  <mat-panel-description>
                    Search Supply for itemId, UOM, Prod.Class, and Shipnode
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <app-ava-inquiry-editor (queryAvailability)="queryAvailability($event)"></app-ava-inquiry-editor>

              </mat-expansion-panel>
            </mat-accordion>
            <app-ava-viewer [requestSubject]='requestSubject' [responseSubject]='responseSubject'></app-ava-viewer>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>