<div>
  <br>
  <div class="container">

    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">

        <mat-tab-group>
          <mat-tab label="Create Reservation">
            <mat-card class="card">
              <br>


              <mat-form-field>
                <input matInput type="text" [(ngModel)]="newReservation.reference" placeholder="Reference" required>
              </mat-form-field>
              &nbsp;
              <!-- <mat-slide-toggle color="primary" >more</mat-slide-toggle>  -->
              <app-expand-container color="primary" label="More Prop." expanded="false">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="newReservation.segmentType" placeholder="Segment type">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="newReservation.segment" placeholder="Segment">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <input matInput type="number" [(ngModel)]="newReservation.timeToExpire" placeholder="Minutes to Expire">
                </mat-form-field>
              </app-expand-container>
              <mat-table multiTemplateDataRows #table [dataSource]="newReservation.lines">

                <ng-container matColumnDef="lineId">
                  <mat-header-cell *matHeaderCellDef> Line ID </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field><input matInput type="text" placeholder="Line ID" [(ngModel)]="element.lineId"
                        required>
                    </mat-form-field>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="itemId">
                  <mat-header-cell *matHeaderCellDef> Item ID </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field><input matInput type="text" placeholder="Item ID" [(ngModel)]="element.itemId"
                        required></mat-form-field>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unitOfMeasure">
                  <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>

                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="UOM" [(ngModel)]="element.unitOfMeasure" [options]="uomOptionObservable"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="productClass">
                  <mat-header-cell *matHeaderCellDef> Prod. Class </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Product Class" [(ngModel)]="element.productClass" [options]="prodClassOptionObservable"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field>
                      <input matInput type="number" placeholder="Quantity" [(ngModel)]="element.quantity" required>
                    </mat-form-field>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryMethod">
                  <mat-header-cell *matHeaderCellDef> Delivery Method </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Delivery Method" [(ngModel)]="element.deliveryMethod"
                      [options]="deliveryMethodOptionObservable"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="shipNodeOrDG">
                  <mat-header-cell *matHeaderCellDef> Ship Node or DG </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i=dataIndex;">
                    <mat-radio-group [(ngModel)]='element.requestMode'>
                      <mat-radio-button [value]="ReserveModeRef.DistGroup">Dist. Group</mat-radio-button>
                      <mat-radio-button [value]="ReserveModeRef.ShipNode">Shipnode</mat-radio-button>
                    </mat-radio-group> &nbsp;&nbsp;
                    <app-autocomplete-dropdown *ngIf='element.requestMode === ReserveModeRef.DistGroup' placeholder="Dist. Group"
                      [(ngModel)]="element.distributionGroup" [options]="getDistgroupIdList()"></app-autocomplete-dropdown>
                    <app-autocomplete-dropdown *ngIf='element.requestMode === ReserveModeRef.ShipNode' placeholder="Ship Node"
                      [(ngModel)]="element.shipNode" [options]="getShipnodeIdList()"></app-autocomplete-dropdown>
                  </mat-cell>
                </ng-container>


                <!-- <ng-container matColumnDef="shipNode">
                  <mat-header-cell *matHeaderCellDef> Ship Node </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Ship Node" [(ngModel)]="element.shipNode" [options]="getShipnodeIdList()"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="distributionGroup">
                  <mat-header-cell *matHeaderCellDef> Distribution Group </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Dist. Group" [(ngModel)]="element.distributionGroup"
                      [options]="getDistgroupIdList()"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container> -->


                <!-- <ng-container matColumnDef="add">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element; let i=dataIndex; let first; let last;" (click)="$event.stopPropagation()">
                        <button type="button" mat-raised-button color="primary" (click)="addReservationLine()">
                            <mat-icon>add</mat-icon> Add Row
                          </button>
                    </mat-cell>
                </ng-container> -->


                <ng-container matColumnDef="button">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element; let i=dataIndex; let first; let last;" class="button-in-table"
                    (click)="$event.stopPropagation()">
                    <!-- <button (click)="deleteSupply(element)" type="button" title="delete line"> -->
                    <!-- <mat-icon class="icon">delete</mat-icon> i: {{i}} first: {{i==0}} last: {{last.lineId}} -->
                    <!-- </button> -->
                    <button type="button" mat-raised-button color="warn" (click)="deleteReservationLine(element)">
                      <mat-icon>delete</mat-icon> Delete
                    </button>
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef>
                    <button type="button" mat-raised-button color="primary" (click)="addReservationLine()">
                      <mat-icon>add</mat-icon> Add Row
                    </button>
                  </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: newReservationDisplayColumnsRow1"></mat-row>
                <mat-row *matRowDef="let row; columns: newReservationDisplayColumnsRow2"></mat-row>
                <mat-row mat-footer-row *matFooterRowDef="newReservationDisplayColumnsFooter"></mat-row>
              </mat-table>
              <div class="createReservationButtonPanel">
                <button type="button" mat-raised-button color="primary" (click)="createReservation()">
                  <mat-icon>add_shopping_cart</mat-icon> Create Reservation
                </button>
              </div>
            </mat-card>

          </mat-tab>
          <mat-tab label="Search Reservaton">
            <mat-card class="card">
              <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              </mat-card-title>
              <mat-card-content>
                <h3>Reservation Inquiry</h3>
                <div>

                  <mat-radio-group [(ngModel)]='reservationInquiry.queryMode'>
                    <mat-radio-button [value]="ReservationQueryModeRef.Reference">Reference&nbsp;&nbsp;</mat-radio-button>
                    <mat-radio-button [value]="ReservationQueryModeRef.Id">Reservation ID&nbsp;&nbsp;</mat-radio-button>
                  </mat-radio-group> &nbsp;&nbsp;

                  <mat-form-field *ngIf='reservationInquiry.queryMode === ReservationQueryModeRef.Reference'>
                    <input matInput placeholder="Reference" [(ngModel)]="reservationInquiry.reference">
                  </mat-form-field>


                  <mat-form-field *ngIf='reservationInquiry.queryMode === ReservationQueryModeRef.Id'>
                    <input matInput placeholder="Reservation ID" [(ngModel)]="reservationInquiry.id">
                  </mat-form-field>

                </div>

                <button type="submit" mat-raised-button color="primary" (click)="queryReservation()">
                  <mat-icon>whatshot</mat-icon> Find Reservation
                </button>
                
              </mat-card-content>
            </mat-card>

            <mat-card class="card">
              <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                Reservations:
              </mat-card-title>
              <mat-card-content>
                <mat-table #table [dataSource]="reservationListSubject">

                  <ng-container matColumnDef="expirationTs">
                    <mat-header-cell *matHeaderCellDef> Expiration </mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltipClass="reservationListToolTip" [matTooltip]="constructTimeStampDesc(element)">
                      {{element.expirationTs}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> Resv. ID </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="itemId">
                    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltipClass="reservationListToolTip" [matTooltip]="constructItemDesc(element)">
                      {{element.itemId}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="productClass">
                    <mat-header-cell *matHeaderCellDef> productClass </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.productClass}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reference">
                    <mat-header-cell *matHeaderCellDef> Resv. Ref. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.reference}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reservationTs">
                    <mat-header-cell *matHeaderCellDef> Resved On </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.reservationTs}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reservedQuantityExtn">
                    <mat-header-cell *matHeaderCellDef> Resved </mat-header-cell>
                    <mat-cell *matCellDef="let element" matTooltipClass="reservationListToolTip" [matTooltip]="constructQuantityDesc(element)">
                      {{element.productClass}} {{element.reservedQuantity}} {{element.unitOfMeasure}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="reservedQuantity">
                    <mat-header-cell *matHeaderCellDef> reservedQuantity </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.reservedQuantity}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="unitOfMeasure">
                    <mat-header-cell *matHeaderCellDef> unitOfMeasure </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unitOfMeasure}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="resvTableColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: resvTableColumns"></mat-row>

                </mat-table>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>



      </div>
    </div>
  </div>
</div>