<div>
  <br>
  <div class="container">

    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">

        <mat-tab-group>
          <mat-tab label="Create Reservation">
            <mat-card class="card">
              <br>


              <mat-form-field>
                <input matInput type="text" [(ngModel)]="newReservation.reference" placeholder="Reference" required>
              </mat-form-field>
              &nbsp;
              <!-- <mat-slide-toggle color="primary" >more</mat-slide-toggle>  -->
              <app-expand-container color="primary" label="More Prop." expanded="false">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="newReservation.segmentType" placeholder="Segment type">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="newReservation.segment" placeholder="Segment">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <input matInput type="number" [(ngModel)]="newReservation.timeToExpire" placeholder="Minutes to Expire">
                </mat-form-field>
              </app-expand-container>
              <mat-table multiTemplateDataRows #table [dataSource]="newReservation.lines">

                <ng-container matColumnDef="lineId">
                  <mat-header-cell *matHeaderCellDef> Line ID </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field><input matInput type="text" placeholder="Line ID" [(ngModel)]="element.lineId" required>
                    </mat-form-field>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="itemId">
                  <mat-header-cell *matHeaderCellDef> Item ID </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field><input matInput type="text" placeholder="Item ID" [(ngModel)]="element.itemId" required></mat-form-field>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unitOfMeasure">
                  <mat-header-cell *matHeaderCellDef> UOM </mat-header-cell>

                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="UOM" [(ngModel)]="element.unitOfMeasure" [options]="uomOptionObservable"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="productClass">
                  <mat-header-cell *matHeaderCellDef> Prod. Class </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Product Class" [(ngModel)]="element.productClass" [options]="prodClassOptionObservable"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-form-field>
                      <input matInput type="number" placeholder="Quantity" [(ngModel)]="element.quantity"  required>
                    </mat-form-field>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryMethod">
                  <mat-header-cell *matHeaderCellDef> Delivery Method </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Delivery Method" [(ngModel)]="element.deliveryMethod"
                      [options]="deliveryMethodOptionObservable"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="shipNodeOrDG">
                  <mat-header-cell *matHeaderCellDef> Ship Node or DG </mat-header-cell>
                  <mat-cell *matCellDef="let element; let i=dataIndex;">
                    <mat-radio-group [(ngModel)]='element.requestMode'>
                      <mat-radio-button [value]="ReserveModeRef.DistGroup">Dist. Group</mat-radio-button>
                      <mat-radio-button [value]="ReserveModeRef.ShipNode">Shipnode</mat-radio-button>
                    </mat-radio-group> &nbsp;&nbsp;
                    <app-autocomplete-dropdown *ngIf='element.requestMode === ReserveModeRef.DistGroup' placeholder="Dist. Group"
                      [(ngModel)]="element.distributionGroup" [options]="getDistgroupIdList()"></app-autocomplete-dropdown>
                    <app-autocomplete-dropdown *ngIf='element.requestMode === ReserveModeRef.ShipNode' placeholder="Ship Node" [(ngModel)]="element.shipNode"
                      [options]="getShipnodeIdList()"></app-autocomplete-dropdown>
                  </mat-cell>
                </ng-container>


                <!-- <ng-container matColumnDef="shipNode">
                  <mat-header-cell *matHeaderCellDef> Ship Node </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Ship Node" [(ngModel)]="element.shipNode" [options]="getShipnodeIdList()"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="distributionGroup">
                  <mat-header-cell *matHeaderCellDef> Distribution Group </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <app-autocomplete-dropdown placeholder="Dist. Group" [(ngModel)]="element.distributionGroup"
                      [options]="getDistgroupIdList()"></app-autocomplete-dropdown>&nbsp;
                  </mat-cell>
                </ng-container> -->


                <!-- <ng-container matColumnDef="add">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element; let i=dataIndex; let first; let last;" (click)="$event.stopPropagation()">
                        <button type="button" mat-raised-button color="primary" (click)="addReservationLine()">
                            <mat-icon>add</mat-icon> Add Row
                          </button>
                    </mat-cell>
                </ng-container> -->


                <ng-container matColumnDef="button">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element; let i=dataIndex; let first; let last;" class="button-in-table"
                    (click)="$event.stopPropagation()">
                    <!-- <button (click)="deleteSupply(element)" type="button" title="delete line"> -->
                    <!-- <mat-icon class="icon">delete</mat-icon> i: {{i}} first: {{i==0}} last: {{last.lineId}} -->
                    <!-- </button> -->
                    <button type="button" mat-raised-button color="warn" (click)="deleteReservationLine(element)">
                      <mat-icon>delete</mat-icon> Delete
                    </button>
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef>
                    <button type="button" mat-raised-button color="primary" (click)="addReservationLine()">
                      <mat-icon>add</mat-icon> Add Row
                    </button>
                  </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: newReservationDisplayColumnsRow1"></mat-row>
                <mat-row *matRowDef="let row; columns: newReservationDisplayColumnsRow2"></mat-row>
                <mat-row mat-footer-row *matFooterRowDef="newReservationDisplayColumnsFooter"></mat-row>
              </mat-table>
              <div class="createReservationButtonPanel">
                <button type="button" mat-raised-button color="primary" (click)="createReservation()">
                  <mat-icon>add_shopping_cart</mat-icon> Create Reservation
                </button>
              </div>
            </mat-card>

          </mat-tab>
          <mat-tab label="Search Reservaton">
            <mat-card class="card">
              <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
              </mat-card-title>
              <mat-card-content>
                <mat-accordion>
                  <mat-expansion-panel>
                    <!--[expanded]="expandInquiryPanel">-->
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h3>Reservation Inquiry</h3>
                      </mat-panel-title>
                      <mat-panel-description>
                        {{getTopPanelDescription()}}
                        <!-- Search reservation for itemId, UOM, Prod.Class, and Shipnode -->
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div>

                      <mat-form-field>
                        <input matInput placeholder="Reservation ID" [(ngModel)]="reservationInquiry.id">
                      </mat-form-field>&nbsp;


                      <mat-form-field>
                        <input matInput placeholder="Reference" [(ngModel)]="reservationInquiry.reference">
                      </mat-form-field>&nbsp;

                    </div>


                    <button type="submit" mat-raised-button color="primary" (click)="queryReservation()">
                      <mat-icon>whatshot</mat-icon> Find Reservation
                    </button>
                    &nbsp;&nbsp;

                    <mat-card class="card">
                      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                        Reservations:
                      </mat-card-title>
                      <mat-card-content>
                        <mat-accordion>
                          <mat-expansion-panel *ngFor="let reservation of getReservationSubject() | async; index as i; first as isFirst"
                            [expanded]="false">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{getTitleForReservationLine(reservation)}}
                              </mat-panel-title>
                              <mat-panel-description>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-tab-group>
                              <mat-tab label="Inv.">
                                <br>
                                <mat-form-field>
                                  <input type="number" matInput placeholder="quantity" [(ngModel)]="itemreservation.quantity">
                                </mat-form-field>&nbsp;

                                <mat-form-field *ngIf="!itemreservation.isNew else enterreservationType">
                                  <input matInput placeholder="type" [(ngModel)]="itemreservation.type" [readonly]="!itemreservation.isNew">
                                </mat-form-field>&nbsp;

                                <ng-template #enterreservationType>
                                  <app-autocomplete-dropdown placeholder="reservation Type" [(ngModel)]="itemreservation.type"
                                    [options]="reservationTypeBase">
                                  </app-autocomplete-dropdown>
                                </ng-template>

                                <mat-form-field *ngIf="!itemreservation.isNew else enterreservationEta">
                                  <input matInput placeholder="ETA" [(ngModel)]="itemreservation.eta" [readonly]="!itemreservation.isNew">
                                </mat-form-field>&nbsp;

                                <ng-template #enterreservationEta>
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Choose ETA" [(ngModel)]="itemreservation.eta">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </ng-template>

                                <mat-form-field *ngIf="!itemreservation.isNew else enterreservationShipByDate">
                                  <input matInput placeholder="shipByDate" [(ngModel)]="itemreservation.shipByDate"
                                    [readonly]="!itemreservation.isNew">
                                </mat-form-field>

                                <ng-template #enterreservationShipByDate>
                                  <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Choose Ship By" [(ngModel)]="itemreservation .shipByDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                </ng-template>

                              </mat-tab>
                              <mat-tab label="Ref.">
                                <br>
                                <mat-form-field>
                                  <input matInput placeholder="lineReference" [(ngModel)]="itemreservation.lineReference">
                                </mat-form-field>&nbsp;
                                <mat-form-field>
                                  <input matInput placeholder="reference" [(ngModel)]="itemreservation.reference">
                                </mat-form-field>&nbsp;
                                <mat-form-field>
                                  <input matInput placeholder="referenceType" [(ngModel)]="itemreservation.referenceType">
                                </mat-form-field>
                              </mat-tab>
                              <mat-tab label="Seg. & Tag">
                                <br>
                                <mat-form-field>
                                  <input matInput placeholder="segment" [(ngModel)]="itemreservation.segment"
                                    [readonly]="!itemreservation.isNew">
                                </mat-form-field>&nbsp;
                                <mat-form-field>
                                  <input matInput placeholder="segmentType" [(ngModel)]="itemreservation.segmentType"
                                    [readonly]="!itemreservation.isNew">
                                </mat-form-field>&nbsp;
                                <mat-form-field>
                                  <input matInput placeholder="tagNumber" [(ngModel)]="itemreservation.tagNumber"
                                    [readonly]="!itemreservation.isNew">
                                </mat-form-field>
                              </mat-tab>

                            </mat-tab-group>

                            <button type="button" mat-raised-button color="primary" (click)="savereservation(itemreservation)"
                              title="Save Change">
                              <mat-icon>save</mat-icon>&nbsp;Save
                            </button>
                            &nbsp;
                            <button type="button" mat-raised-button color="warn" (click)="deletereservation(itemreservation)"
                              title="delete this reservation line">
                              <mat-icon>delete</mat-icon>&nbsp;Delete
                            </button>
                            <!-- 
                        <a title="Save Change" type="button">
                          <mat-icon class="icon">save</mat-icon>
                        </a>
                        <a title="Zero out this reservation line" type="button">
                          <mat-icon class="icon">delete</mat-icon>
                        </a> -->

                          </mat-expansion-panel>
                        </mat-accordion>

                      </mat-card-content>
                    </mat-card>
                  </mat-expansion-panel>

                </mat-accordion>

                <div>


                </div>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>



      </div>
    </div>
  </div>
</div>