<!-- <h1 mat-dialog-title>IV Credentials</h1> -->
<div mat-dialog-content>
  <!-- <form class="example-form" (ngSubmit)="onSubmit()"> -->
    <mat-tab-group>
      <mat-tab label="IV Credentials">


        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Base Url ex: https://eu-api.watsoncommerce.ibm.com/inventory" type="text"
            required [(ngModel)]="cloneOfCredential.baseUrl" name="Base Url" (change)="setCredentialDirty()">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="tenant ID" type="text" required [(ngModel)]="cloneOfCredential.tenantID"
            name="tenantID" (change)="setCredentialDirty()">
        </mat-form-field>

        <mat-form-field class="cred-form-field">
          <input matInput placeholder="App Version" type="text" required [(ngModel)]="cloneOfCredential.appVersion"
            name="appVersion" (change)="setCredentialDirty()">
        </mat-form-field>

        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Client ID" type="text" required [(ngModel)]="cloneOfCredential.clientID"
            name="clientID" (change)="setCredentialDirty()">
        </mat-form-field>

        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Client Secret" type="password" required [(ngModel)]="cloneOfCredential.clientSecret"
            name="clientSecret" (change)="setCredentialDirty()">
        </mat-form-field>

      </mat-tab>
      <mat-tab label="Bearer Tokens">
        <div mat-dialog-actions>
          <button mat-raised-button class="reload" color="warn" title="Renew all API tokens" (click)="renewAllTokens()" ngDisabled="">Renew Tokens</button>
        </div>
        <div mat-dialog-actions><br></div>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Network Availability" type="text" [(ngModel)]="cloneOfCredential.tokens.availabilityNetwork"
            name="Network Availability">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
            <input matInput placeholder="Node Availability" type="text" [(ngModel)]="cloneOfCredential.tokens.availabilityNode"
              name="Node Availability">
          </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Distribution Group" type="text" [(ngModel)]="cloneOfCredential.tokens.configurationDistributionGroups"
            name="Distribution Group">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Setting" type="text" [(ngModel)]="cloneOfCredential.tokens.configurationSettings"
            name="Setting">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Ship Node" type="text" [(ngModel)]="cloneOfCredential.tokens.configurationShipNodes"
            name="Ship Node">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Demand" type="text" [(ngModel)]="cloneOfCredential.tokens.demands"
            name="Demand">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Reservation" type="text" [(ngModel)]="cloneOfCredential.tokens.reservations"
            name="Reservation">
        </mat-form-field>
        <mat-form-field class="cred-form-field">
          <input matInput placeholder="Supply" type="text" [(ngModel)]="cloneOfCredential.tokens.supplies"
            name="Supply">
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
    

</div>
<div mat-dialog-actions>

  <button mat-raised-button type="submit" class="save" color="warn" (click)="onSaveClick()" >Save</button>
</div>
  <div mat-dialog-actions>  
  <button mat-raised-button type="button" class="close" (click)="onCancelClick()" color="primary">Cancel</button>
</div>