.example-form {
    display: flex;
    flex-direction: column;
  }
  
  .example-form > * {
    width: 100%;
  }
  
  .fullwidth {
    width: 100%;
  }

  .save,
  .close,
  .reload{
    .fullwidth;
  }

  .cred-form-field{
      width: 88%;
  }